@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
main > section{
    margin-top: 130px;
}

.display-flex{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    padding: 20px 25px;
}

/* dark 02 */
.text-gray{
    color: rgb(66, 66, 66);
}
/* dark 03 */
.text-light-gray{
    color: rgb(114, 114, 114);
}

.orange{
    color: rgb(255, 144, 14);
}




/* header styles */


/* nav bar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 45px;
    font-weight: 2.8rem;
}

.nav-links{

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}

main, .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;   
}



/* Banner related styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}


/* team and features related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    max-width: 537px;
    margin-left: 73px;

}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* responsive media query for mobile device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin: 0 20px;
    }
}

/* responsive media query for tablet device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 0;
        text-align: center;
    }
}

